<div class="px-[103px]">
  <div class="flex items-center justify-between gap-[19px]">
    <a
      href="https://tublian.com"
      class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
    >
      <img src="../assets/logo.svg" alt="" aria-hidden="true" />
      <span> Tublian </span>
    </a>
    <tbc-stepper [currentStep]="currentStep"></tbc-stepper>
  </div>
</div>

<div class="flex flex-col items-center gap-10">
  <div class="flex flex-col gap-[14px] text-center">
    <h1 class="mt-10 text-4xl font-bold leading-[52px] text-white">
      How are you planning to use Tublian?
    </h1>
    <p class="font-medium">
      We will customize your experience based on your option.
    </p>
  </div>

  <!-- Radio Buttons -->
  <!-- ========================================================= -->
  <tbc-radio-group
    name="plan"
    [options]="options"
    [formControl]="radioGroupControl"
  >
  </tbc-radio-group>
  <!-- ========================================================= -->

  <!-- Radio Buttons -->

  <button
    (click)="goToNextStep()"
    class="w-[405px] rounded-full bg-gold-300 px-4 py-2 font-medium capitalize text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
  >
    Create account
  </button>
</div>

<div
  class="absolute bottom-[47px] left-1/2 flex w-fit -translate-x-1/2 items-start gap-5 text-tertiary"
>
  <a href="https://www.tublian.com/privacy">Privacy Policy</a>
  <a href="https://www.tublian.com/terms">Terms</a>
</div>
