<div class="relative flex flex-col items-stretch gap-2">
  <label [for]="inputId" class="sr-only">{{ label }}</label>
  <ng-template
    [ngTemplateOutlet]="inputId === 'card-number' ? creditCard : normal"
  ></ng-template>
  <img
    *ngIf="textControl.invalid && textControl.touched"
    class="absolute right-0 top-2 h-6 w-6"
    src="../assets/info-circle.svg"
    alt=""
    aria-hidden="true"
  />
  <img
    *ngIf="!textControl.invalid"
    class="absolute right-0 top-2 h-6 w-6 stroke-semantic-green"
    src="../assets/tick-circle-ok.svg"
    alt=""
    aria-hidden="true"
  />
  <span
    *ngIf="textControl.invalid && textControl.touched"
    class="text-sm font-medium text-semantic-red"
    >{{ errorMessage }}</span
  >
</div>

<ng-template #creditCard>
  <input
    mask="9999 9999 9999 9999"
    [formControl]="textControl"
    [id]="inputId"
    class="generic-input"
    [ngClass]="
      textControl.invalid && textControl.touched
        ? 'border-b-semantic-red focus-visible:border-b-semantic-red'
        : 'focus-visible:border-b-white'
    "
    type="text"
    [placeholder]="placeholder"
    required
  />
</ng-template>

<ng-template #normal>
  <input
    [formControl]="textControl"
    [id]="inputId"
    class="generic-input"
    [ngClass]="
      textControl.invalid && textControl.touched
        ? 'border-b-semantic-red focus-visible:border-b-semantic-red'
        : 'focus-visible:border-b-white'
    "
    [type]="type ? type : 'text'"
    [placeholder]="placeholder"
    required
  />
</ng-template>
