<div class="relative flex flex-col items-stretch gap-2">
  <label [for]="inputId" class="sr-only">{{ label }}</label>
  <ng-container [ngSwitch]="inputId">
    <ng-template
      *ngSwitchCase="'card-number'"
      [ngTemplateOutlet]="creditCard"
    ></ng-template>
    <ng-template
      *ngSwitchCase="'card-expire'"
      [ngTemplateOutlet]="expiryDate"
    ></ng-template>
    <ng-template
      *ngSwitchCase="'card-cvv'"
      [ngTemplateOutlet]="cvv"
    ></ng-template>
    <ng-template
      *ngSwitchCase="'card-country'"
      [ngTemplateOutlet]="country"
    ></ng-template>
    <ng-template *ngSwitchDefault [ngTemplateOutlet]="normal"></ng-template>
  </ng-container>

  <img
    *ngIf="textControl.invalid && textControl.touched"
    class="absolute right-0 top-2 h-6 w-6"
    src="../assets/info-circle.svg"
    alt=""
    aria-hidden="true"
  />
  <img
    *ngIf="!textControl.invalid"
    class="absolute right-0 top-2 h-6 w-6 stroke-semantic-green"
    src="../assets/tick-circle-ok.svg"
    alt=""
    aria-hidden="true"
  />
  <span
    *ngIf="textControl.invalid && textControl.touched"
    class="text-sm font-medium text-semantic-red"
    >{{ errorMessage }}</span
  >
</div>

<!-- !Templates -->
<ng-template #creditCard>
  <img
    class="absolute left-0 top-2 h-6 w-6 stroke-semantic-green"
    src="../../../assets/lock.svg"
    alt=""
    aria-hidden="true"
  />
  <input
    mask="9999 9999 9999 9999"
    [formControl]="textControl"
    [id]="inputId"
    class="generic-input ps-9"
    [ngClass]="
      textControl.invalid && textControl.touched
        ? 'border-b-semantic-red focus-visible:border-b-semantic-red'
        : 'focus-visible:border-b-white'
    "
    type="text"
    [placeholder]="placeholder"
    required
  />
  <div
    class="absolute right-0 top-2 flex h-6 w-[124px] items-center justify-end gap-2"
    [ngClass]="
      (textControl.invalid && textControl.touched) || !textControl.invalid
        ? 'hidden'
        : ''
    "
  >
    <img
      class=""
      src="../../../assets/visa-icon.svg"
      alt=""
      aria-hidden="true"
    />
    <img
      class=""
      src="../../../assets/mastercard-icon.svg"
      alt=""
      aria-hidden="true"
    />
    <img
      class=""
      src="../../../assets/american-express-icon.svg"
      alt=""
      aria-hidden="true"
    />
  </div>
</ng-template>

<ng-template #expiryDate>
  <input
    mask="M0/00"
    [formControl]="textControl"
    [id]="inputId"
    class="generic-input"
    [ngClass]="
      textControl.invalid && textControl.touched
        ? 'border-b-semantic-red focus-visible:border-b-semantic-red'
        : 'focus-visible:border-b-white'
    "
    type="text"
    [placeholder]="placeholder"
    required
  />
</ng-template>

<ng-template #cvv>
  <input
    mask="000"
    [formControl]="textControl"
    [id]="inputId"
    class="generic-input"
    [ngClass]="
      textControl.invalid && textControl.touched
        ? 'border-b-semantic-red focus-visible:border-b-semantic-red'
        : 'focus-visible:border-b-white'
    "
    type="text"
    [placeholder]="placeholder"
    required
  />
</ng-template>

<ng-template #country>
  <input
    [formControl]="textControl"
    [id]="inputId"
    class="generic-input"
    [ngClass]="
      textControl.invalid && textControl.touched
        ? 'border-b-semantic-red focus-visible:border-b-semantic-red'
        : 'focus-visible:border-b-white'
    "
    type="text"
    [placeholder]="placeholder"
    required
  />
  <div
    class="absolute right-0 top-2 flex h-6 w-6 items-center justify-end gap-2"
    [ngClass]="
      (textControl.invalid && textControl.touched) || !textControl.invalid
        ? 'hidden'
        : ''
    "
  >
    <img
      class=""
      src="../../../assets/arrow-down.svg"
      alt=""
      aria-hidden="true"
    />
  </div>
</ng-template>

<ng-template #normal>
  <input
    [formControl]="textControl"
    [id]="inputId"
    class="generic-input"
    [ngClass]="
      textControl.invalid && textControl.touched
        ? 'border-b-semantic-red focus-visible:border-b-semantic-red'
        : 'focus-visible:border-b-white'
    "
    type="text"
    [placeholder]="placeholder"
    required
  />
</ng-template>
