<div class="px-[103px]">
  <div class="flex items-center justify-between gap-[19px]">
    <a
      href="https://tublian.com"
      class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
    >
      <img src="../assets/logo.svg" alt="" aria-hidden="true" />
      <span> Tublian </span>
    </a>
    <tbc-stepper [currentStep]="currentStep"></tbc-stepper>
  </div>
</div>

<div class="flex flex-col items-center gap-10">
  <div class="flex flex-col gap-[14px] text-center">
    <h1 class="mt-10 text-4xl font-bold leading-[52px] text-white">
      Payment Plan
    </h1>
    <p class="font-medium">
      We will customize your experience based on your option.
    </p>
  </div>

  <div class="flex flex-col items-center gap-[60px]">
    <tbc-plan-interval
      [options]="paymentIntervals"
      [planIntervalControl]="paymentIntervalControl"
    ></tbc-plan-interval>

    <div class="flex items-center justify-center gap-7 text-white">
      <div
        class="flex h-[464px] w-[301px] flex-col justify-between rounded-[20px] border border-card-hover bg-card-default p-[20px]"
      >
        <div class="">
          <span class="pro-badge badge w-fit">Pro</span>
          <span class="mt-[14px] block text-[30px] font-bold leading-normal">
            $19.99<span class="text-lg font-medium text-tertiary">/Month</span>
          </span>

          <h2 class="mt-5 text-xl font-medium text-tertiary">Features:</h2>

          <ul class="mt-2 flex flex-col gap-3 text-sm font-medium">
            <li class="flex items-start gap-2">
              <img
                class="h-6 w-6"
                src="../assets/tick-circle-green.svg"
                alt=""
                aria-hidden="true"
              />
              <span>Advanced search for developer profiles with filters.</span>
            </li>
            <li class="flex items-start gap-2">
              <img
                class="h-6 w-6"
                src="../assets/tick-circle-green.svg"
                alt=""
                aria-hidden="true"
              />
              <span>Increased monthly messages to developers.</span>
            </li>
            <li class="flex items-start gap-2">
              <img
                class="h-6 w-6"
                src="../assets/tick-circle-green.svg"
                alt=""
                aria-hidden="true"
              />
              <span>Priority support.</span>
            </li>
          </ul>
        </div>
        <button
          (click)="onPlanSelected('pro')"
          class="w-full rounded-full bg-gold-300 px-4 py-2 font-medium capitalize text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
        >
          Subscribe
        </button>
      </div>

      <div class="bg-gradient rounded-[20px] p-px">
        <div
          class="flex h-[462px] w-[299px] flex-col justify-between rounded-[20px] bg-card-default p-[20px]"
        >
          <div class="">
            <span class="business-badge badge w-fit">Business Plan</span>
            <span class="mt-[14px] block text-[30px] font-bold leading-normal">
              $49.99<span class="text-lg font-medium text-tertiary"
                >/Month</span
              >
            </span>

            <h2 class="mt-5 text-xl font-medium text-tertiary">Features:</h2>

            <ul class="mt-2 flex flex-col gap-3 text-sm font-medium">
              <li class="flex items-start gap-2">
                <img
                  class="h-6 w-6"
                  src="../assets/tick-circle-green.svg"
                  alt=""
                  aria-hidden="true"
                />
                <span
                  >Premium access to developer profiles and advanced search
                  filters.</span
                >
              </li>
              <li class="flex items-start gap-2">
                <img
                  class="h-6 w-6"
                  src="../assets/tick-circle-green.svg"
                  alt=""
                  aria-hidden="true"
                />
                <span>Increased monthly messages to developers.</span>
              </li>
              <li class="flex items-start gap-2">
                <img
                  class="h-6 w-6"
                  src="../assets/tick-circle-green.svg"
                  alt=""
                  aria-hidden="true"
                />
                <span>Dedicated account manager for personalized support.</span>
              </li>
              <li class="flex items-start gap-2">
                <img
                  class="h-6 w-6"
                  src="../assets/tick-circle-green.svg"
                  alt=""
                  aria-hidden="true"
                />
                <span>Early access to new features and updates.</span>
              </li>
            </ul>
          </div>
          <button
            (click)="onPlanSelected('business')"
            class="w-full rounded-full bg-gold-300 px-4 py-2 font-medium capitalize text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
          >
            Subscribe
          </button>
        </div>
      </div>
      <div
        class="flex h-[464px] w-[301px] flex-col justify-between rounded-[20px] border border-card-hover bg-card-default p-[20px]"
      >
        <div class="">
          <span class="enterprise-badge badge w-fit">Enterprise Plan</span>
          <span class="mt-[14px] block text-[30px] font-bold leading-normal">
            Custom Pricing
          </span>

          <h2 class="mt-5 text-xl font-medium text-tertiary">Features:</h2>

          <ul class="mt-2 flex flex-col gap-3 text-sm font-medium">
            <li class="flex items-start gap-2">
              <img
                class="h-6 w-6"
                src="../assets/tick-circle-green.svg"
                alt=""
                aria-hidden="true"
              />
              <span>Tailored solutions for large enterprises or agencies.</span>
            </li>
            <li class="flex items-start gap-2">
              <img
                class="h-6 w-6"
                src="../assets/tick-circle-green.svg"
                alt=""
                aria-hidden="true"
              />
              <span
                >Full access to all platform features, including custom
                integrations.</span
              >
            </li>
            <li class="flex items-start gap-2">
              <img
                class="h-6 w-6"
                src="../assets/tick-circle-green.svg"
                alt=""
                aria-hidden="true"
              />
              <span>Unlimited monthly messages to developers.</span>
            </li>
            <li class="flex items-start gap-2">
              <img
                class="h-6 w-6"
                src="../assets/tick-circle-green.svg"
                alt=""
                aria-hidden="true"
              />
              <span>Priority support with 24/7 availability.</span>
            </li>
          </ul>
        </div>
        <a
          href="mailto:hello@tublian.com"
          class="bg-gradient w-full rounded-full px-4 py-2 text-center font-medium capitalize text-white transition-all duration-300 ease-in-out"
        >
          Contact Us
        </a>
      </div>
    </div>

    <div class="flex w-fit items-start gap-5 text-tertiary">
      <a href="https://www.tublian.com/privacy">Privacy Policy</a>
      <a href="https://www.tublian.com/terms">Terms</a>
    </div>
  </div>
</div>
