<main>
  <form [formGroup]="onboardingForm" class="min-h-screen">
    <!-- Step 01: Get Started -->
    <div *ngIf="currentStep === 1" class="flex min-h-screen">
      <tbc-get-started
        formGroupName="name"
        [currentStep]="currentStep"
        (proceed)="goToNextStep($event)"
      ></tbc-get-started>
    </div>
    <!-- Get Started -->

    <!-- Step 02: Create Account -->
    <div *ngIf="currentStep === 2" class="flex min-h-screen">
      <div class="bg-illustration-two flex-1 bg-top-4"></div>
      <div class="relative flex-1 pb-[47px] ps-10 pt-16">
        <div class="flex items-center gap-[19px]">
          <a
            href="https://tublian.com"
            class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
          >
            <img src="../assets/logo.svg" alt="" aria-hidden="true" />
            <span> Tublian </span>
          </a>
          <tbc-stepper [currentStep]="currentStep"></tbc-stepper>
        </div>
        <h1 class="mt-10 text-4xl font-bold leading-[52px] text-white">
          Create Account
        </h1>
        <div class="mt-[14px] flex max-w-[405px] flex-col gap-7">
          <p class="font-medium">
            Creating account for
            <span class="text-accent-blue">&#64;{{ userName }}</span>
          </p>

          <fieldset formGroupName="account" class="flex flex-col gap-[14px]">
            <tbc-email-input
              [textControl]="email"
              inputId="email"
              label="Email"
              placeholder="Email"
              errorMessage="Please enter a valid email address"
            ></tbc-email-input>

            <div class="password-input">
              <label for="password" class="sr-only">Password</label>
              <input
                formControlName="password"
                id="password"
                class="w-full border-b-[1px] border-b-secondary bg-transparent pb-4 pt-2 font-medium text-white transition-colors duration-300 ease-in-out placeholder:font-medium placeholder:capitalize placeholder:text-placeholder focus-visible:border-b-white focus-visible:outline-none"
                type="password"
                placeholder="Password"
              />
              <div class="mt-2 flex items-start gap-6 text-xs text-secondary">
                <div class="flex flex-col gap-2">
                  <p class="flex items-center gap-2">
                    <img
                      src="../assets/tick-circle.svg"
                      alt=""
                      class="h-[14px] w-[14px] flex-shrink-0"
                    />
                    <span>8 Characters minimum</span>
                  </p>
                  <p class="flex items-center gap-2">
                    <img
                      src="../assets/tick-circle.svg"
                      alt=""
                      class="h-[14px] w-[14px] flex-shrink-0"
                    />
                    <span>One symbol character</span>
                  </p>
                </div>
                <p class="flex items-center gap-2">
                  <img
                    src="../assets/tick-circle.svg"
                    alt=""
                    class="h-[14px] w-[14px] flex-shrink-0"
                  />
                  <span>One uppercase character</span>
                </p>
              </div>
            </div>
          </fieldset>

          <div class="flex flex-col gap-[14px]">
            <button
              class="rounded-full bg-gold-300 px-4 py-2 font-medium capitalize text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
            >
              Create account
            </button>

            <p
              class="relative flex items-center justify-center after:absolute after:left-0 after:top-1/2 after:-z-10 after:h-px after:w-full after:bg-horizontal-rule after:content-['']"
            >
              <span
                class="w-fit bg-black px-2 text-center text-sm font-medium text-tertiary"
              >
                Or
              </span>
            </p>

            <button
              class="bg-gradient group rounded-full p-px"
              aria-labelledby="google-text"
            >
              <span
                class="flex items-center justify-center gap-2 rounded-full bg-black px-2 py-3 font-medium text-white transition-all duration-300 ease-in-out group-hover:bg-transparent group-active:bg-transparent"
              >
                <img
                  src="../assets/google-logo.svg"
                  alt=""
                  aria-hidden="true"
                  class="h-6 w-6"
                />
                <span id="google-text">Sign up with Google</span>
              </span>
            </button>
          </div>
        </div>
        <p class="mt-3 text-tertiary">
          Already have an account?
          <a
            class="relative font-bold text-white after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:bg-white after:content-['']"
            href="https://www.tublian.com/login"
            >Log in</a
          >
        </p>

        <div
          class="absolute bottom-[47px] flex w-fit items-start gap-5 text-tertiary"
        >
          <a href="https://www.tublian.com/privacy">Privacy Policy</a>
          <a href="https://www.tublian.com/terms">Terms</a>
        </div>
      </div>
    </div>
    <!-- Create Account -->

    <!-- Step 03: Account Setup -->
    <div
      *ngIf="currentStep === 3"
      class="relative min-h-screen flex-1 pb-[47px] pt-16"
    >
      <div class="px-[103px]">
        <div class="flex items-center justify-between gap-[19px]">
          <a
            href="https://tublian.com"
            class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
          >
            <img src="../assets/logo.svg" alt="" aria-hidden="true" />
            <span> Tublian </span>
          </a>
          <tbc-stepper [currentStep]="currentStep"></tbc-stepper>
        </div>
      </div>

      <div class="flex flex-col items-center gap-10">
        <div class="flex flex-col gap-[14px] text-center">
          <h1 class="mt-10 text-4xl font-bold leading-[52px] text-white">
            How are you planning to use Tublian?
          </h1>
          <p class="font-medium">
            We will customize your experience based on your option.
          </p>
        </div>

        <!-- Radio Buttons -->
        <div class="flex items-center justify-center gap-7 text-center">
          <div
            class="bg-gradient relative h-[288px] w-[250px] cursor-pointer rounded-[20px] p-px"
          >
            <img
              class="absolute right-[14px] top-[14px]"
              src="../assets/tick-circle-gradient.svg"
              alt=""
              aria-hidden="true"
            />
            <div
              class="flex h-[286px] w-[248px] flex-col items-center rounded-[20px] bg-card-default px-5 pt-[46px]"
            >
              <img
                src="../assets/illustration-team-project.png"
                alt=""
                aria-hidden="true"
              />
              <h2 class="mt-[18px] text-2xl font-bold text-white">
                Team Projects
              </h2>
              <p class="mt-[6px]">Hire developers for team projects.</p>
            </div>
          </div>
          <div
            class="group relative h-[288px] w-[250px] cursor-pointer rounded-[20px] bg-card-hover p-px"
          >
            <img
              class="absolute right-[14px] top-[14px]"
              src="../assets/tick-circle-state.svg"
              alt=""
              aria-hidden="true"
            />
            <div
              class="flex h-[286px] w-[248px] flex-col items-center rounded-[20px] bg-card-default px-5 pt-[46px] transition-all duration-300 ease-in-out group-hover:bg-card-hover"
            >
              <img
                class="h-[116px]"
                src="../assets/illustration-personal-project.png"
                alt=""
                aria-hidden="true"
              />
              <h2 class="mt-[18px] text-2xl font-bold text-white">
                Personal Projects
              </h2>
              <p class="mt-[6px]">Hire developers for personal projects.</p>
            </div>
          </div>
          <div
            class="group relative h-[288px] w-[250px] cursor-pointer rounded-[20px] bg-card-hover p-px"
          >
            <img
              class="absolute right-[14px] top-[14px]"
              src="../assets/tick-circle-state.svg"
              alt=""
              aria-hidden="true"
            />
            <div
              class="flex h-[286px] w-[248px] flex-col items-center rounded-[20px] bg-card-default px-5 pt-[46px] transition-all duration-300 ease-in-out group-hover:bg-card-hover"
            >
              <img
                class="h-[116px]"
                src="../assets/illustration-recruiting.png"
                alt=""
                aria-hidden="true"
              />
              <h2 class="mt-[18px] text-2xl font-bold text-white">
                Recruiting
              </h2>
              <p class="mt-[6px]">
                Recruit developers for outstanding companies.
              </p>
            </div>
          </div>
        </div>
        <!-- Radio Buttons -->

        <button
          class="w-[405px] rounded-full bg-gold-300 px-4 py-2 font-medium capitalize text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
        >
          Create account
        </button>
      </div>

      <div
        class="absolute bottom-[47px] left-1/2 flex w-fit -translate-x-1/2 items-start gap-5 text-tertiary"
      >
        <a href="https://www.tublian.com/privacy">Privacy Policy</a>
        <a href="https://www.tublian.com/terms">Terms</a>
      </div>
    </div>
    <!-- Account Setup -->

    <!-- Step 04: Payment Plan -->
    <div
      *ngIf="currentStep === 4"
      class="relative min-h-screen flex-1 pb-[90px] pt-16"
    >
      <div class="px-[103px]">
        <div class="flex items-center justify-between gap-[19px]">
          <a
            href="https://tublian.com"
            class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
          >
            <img src="../assets/logo.svg" alt="" aria-hidden="true" />
            <span> Tublian </span>
          </a>
          <tbc-stepper [currentStep]="currentStep"></tbc-stepper>
        </div>
      </div>

      <div class="flex flex-col items-center gap-10">
        <div class="flex flex-col gap-[14px] text-center">
          <h1 class="mt-10 text-4xl font-bold leading-[52px] text-white">
            Payment Plan
          </h1>
          <p class="font-medium">
            We will customize your experience based on your option.
          </p>
        </div>

        <div class="flex flex-col items-center gap-[60px]">
          <div
            class="flex h-12 w-[360px] rounded-[10px] border border-card-hover bg-card-default p-[3px] text-xl font-bold"
          >
            <div
              class="bg-gradient flex w-full items-center justify-center rounded-[5px] text-white"
            >
              <span>Monthly</span>
            </div>
            <div
              class="flex w-full items-center justify-center gap-1 bg-transparent px-4 py-2"
            >
              <span>Annually</span>
              <span
                class="rounded-[33px] bg-fore-badge px-[6px] py-1 text-xs text-badge"
                >20% Off</span
              >
            </div>
          </div>

          <div class="flex items-center justify-center gap-7 text-white">
            <div
              class="flex h-[464px] w-[301px] flex-col justify-between rounded-[20px] border border-card-hover bg-card-default p-[20px]"
            >
              <div class="">
                <span class="pro-badge badge w-fit">Pro</span>
                <span
                  class="mt-[14px] block text-[30px] font-bold leading-normal"
                >
                  $19.99<span class="text-lg font-medium text-tertiary"
                    >/Month</span
                  >
                </span>

                <h2 class="mt-5 text-xl font-medium text-tertiary">
                  Features:
                </h2>

                <ul class="mt-2 flex flex-col gap-3 text-sm font-medium">
                  <li class="flex items-start gap-2">
                    <img
                      class="h-6 w-6"
                      src="../assets/tick-circle-green.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <span
                      >Advanced search for developer profiles with
                      filters.</span
                    >
                  </li>
                  <li class="flex items-start gap-2">
                    <img
                      class="h-6 w-6"
                      src="../assets/tick-circle-green.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <span>Increased monthly messages to developers.</span>
                  </li>
                  <li class="flex items-start gap-2">
                    <img
                      class="h-6 w-6"
                      src="../assets/tick-circle-green.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <span>Priority support.</span>
                  </li>
                </ul>
              </div>
              <button
                class="w-full rounded-full bg-gold-300 px-4 py-2 font-medium capitalize text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
              >
                Subscribe
              </button>
            </div>

            <div class="bg-gradient rounded-[20px] p-px">
              <div
                class="flex h-[462px] w-[299px] flex-col justify-between rounded-[20px] bg-card-default p-[20px]"
              >
                <div class="">
                  <span class="business-badge badge w-fit">Business Plan</span>
                  <span
                    class="mt-[14px] block text-[30px] font-bold leading-normal"
                  >
                    $49.99<span class="text-lg font-medium text-tertiary"
                      >/Month</span
                    >
                  </span>

                  <h2 class="mt-5 text-xl font-medium text-tertiary">
                    Features:
                  </h2>

                  <ul class="mt-2 flex flex-col gap-3 text-sm font-medium">
                    <li class="flex items-start gap-2">
                      <img
                        class="h-6 w-6"
                        src="../assets/tick-circle-green.svg"
                        alt=""
                        aria-hidden="true"
                      />
                      <span
                        >Premium access to developer profiles and advanced
                        search filters.</span
                      >
                    </li>
                    <li class="flex items-start gap-2">
                      <img
                        class="h-6 w-6"
                        src="../assets/tick-circle-green.svg"
                        alt=""
                        aria-hidden="true"
                      />
                      <span>Increased monthly messages to developers.</span>
                    </li>
                    <li class="flex items-start gap-2">
                      <img
                        class="h-6 w-6"
                        src="../assets/tick-circle-green.svg"
                        alt=""
                        aria-hidden="true"
                      />
                      <span
                        >Dedicated account manager for personalized
                        support.</span
                      >
                    </li>
                    <li class="flex items-start gap-2">
                      <img
                        class="h-6 w-6"
                        src="../assets/tick-circle-green.svg"
                        alt=""
                        aria-hidden="true"
                      />
                      <span>Early access to new features and updates.</span>
                    </li>
                  </ul>
                </div>
                <button
                  class="w-full rounded-full bg-gold-300 px-4 py-2 font-medium capitalize text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
                >
                  Subscribe
                </button>
              </div>
            </div>
            <div
              class="flex h-[464px] w-[301px] flex-col justify-between rounded-[20px] border border-card-hover bg-card-default p-[20px]"
            >
              <div class="">
                <span class="enterprise-badge badge w-fit"
                  >Enterprise Plan</span
                >
                <span
                  class="mt-[14px] block text-[30px] font-bold leading-normal"
                >
                  Custom Pricing
                </span>

                <h2 class="mt-5 text-xl font-medium text-tertiary">
                  Features:
                </h2>

                <ul class="mt-2 flex flex-col gap-3 text-sm font-medium">
                  <li class="flex items-start gap-2">
                    <img
                      class="h-6 w-6"
                      src="../assets/tick-circle-green.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <span
                      >Tailored solutions for large enterprises or
                      agencies.</span
                    >
                  </li>
                  <li class="flex items-start gap-2">
                    <img
                      class="h-6 w-6"
                      src="../assets/tick-circle-green.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <span
                      >Full access to all platform features, including custom
                      integrations.</span
                    >
                  </li>
                  <li class="flex items-start gap-2">
                    <img
                      class="h-6 w-6"
                      src="../assets/tick-circle-green.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <span>Unlimited monthly messages to developers.</span>
                  </li>
                  <li class="flex items-start gap-2">
                    <img
                      class="h-6 w-6"
                      src="../assets/tick-circle-green.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <span>Priority support with 24/7 availability.</span>
                  </li>
                </ul>
              </div>
              <button
                class="bg-gradient w-full rounded-full px-4 py-2 font-medium capitalize text-white transition-all duration-300 ease-in-out"
              >
                Contact Us
              </button>
            </div>
          </div>

          <div class="flex w-fit items-start gap-5 text-tertiary">
            <a href="https://www.tublian.com/privacy">Privacy Policy</a>
            <a href="https://www.tublian.com/terms">Terms</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Payment Plan -->
  </form>
</main>

<tbc-payment-modal
  *ngIf="!isModalOpen"
  (closeModal)="closeModal()"
></tbc-payment-modal>
