<main class="flex min-h-screen">
  <div class="bg-illustration-one bg-top-4 flex-1"></div>
  <div class="flex-1 pb-[47px] ps-10 pt-16">
    <div>
      <a
        href="https://tublian.com"
        class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
      >
        <img src="../assets/logo.svg" alt="" aria-hidden="true" />
        <span> Tublian </span>
      </a>
    </div>
    <h1 class="mt-10 text-4xl font-bold leading-[52px] text-white">
      Get Started
    </h1>
    <p class="mt-[14px] font-medium">
      Start recruiting streetcred developers, Today!!
    </p>

    <p class="text-tertiary">
      Already have an account?
      <a
        class="relative font-bold text-white after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:bg-white after:content-['']"
        href="https://www.tublian.com/login"
        >Log in</a
      >
    </p>

    <div class="text-tertiary flex items-start gap-5">
      <a href="https://www.tublian.com/privacy">Privacy Policy</a>
      <a href="https://www.tublian.com/terms">Terms</a>
    </div>
  </div>
</main>
