<div class="flex w-full flex-col gap-3">
  <div
    class="rounded-[10px] p-px transition-all duration-300 ease-in-out"
    [ngClass]="
      formControl.value === 'credit-card' ? 'bg-gradient' : 'bg-card-hover'
    "
  >
    <label
      class="flex w-full gap-5 rounded-[10px] px-5 py-[14px] transition-all duration-300 ease-in-out hover:cursor-pointer"
      [ngClass]="
        formControl.value === 'credit-card'
          ? 'bg-card-hover'
          : 'bg-card-default'
      "
      for="credit-card"
    >
      <img
        *ngIf="formControl.value === 'credit-card'"
        src="../../../assets/card-check.svg"
        alt=""
        aria-hidden="true"
      />
      <img
        *ngIf="formControl.value !== 'credit-card'"
        src="../../../assets/card-unchecked.svg"
        alt=""
        aria-hidden="true"
      />
      <div class="flex gap-[14px]">
        <img src="../../../assets/credit-card-icon.svg" alt="" />
        <span>Credit Card</span>
      </div>
      <input
        type="radio"
        name="paymentMethod"
        id="credit-card"
        [formControl]="formControl"
        value="credit-card"
        [defaultChecked]="true"
        class="sr-only"
      />
    </label>
  </div>

  <div
    class="rounded-[10px] p-px transition-all duration-300 ease-in-out"
    [ngClass]="
      formControl.value !== 'credit-card' ? 'bg-gradient' : 'bg-card-hover'
    "
  >
    <label
      class="flex w-full gap-5 rounded-[10px] px-5 py-[14px] transition-all duration-300 ease-in-out hover:cursor-pointer"
      [ngClass]="
        formControl.value !== 'credit-card'
          ? 'bg-card-hover'
          : 'bg-card-default'
      "
      for="g-pay"
    >
      <img
        *ngIf="formControl.value !== 'credit-card'"
        src="../../../assets/card-check.svg"
        alt=""
        aria-hidden="true"
      />
      <img
        *ngIf="formControl.value === 'credit-card'"
        src="../../../assets/card-unchecked.svg"
        alt=""
        aria-hidden="true"
      />
      <div class="flex gap-[14px]">
        <img src="../../../assets/google-pay-icon.svg" alt="" />
      </div>
      <input
        type="radio"
        name="paymentMethod"
        id="g-pay"
        [formControl]="formControl"
        value="google-pay"
        class="sr-only"
      />
    </label>
  </div>
</div>
