<ng-container [formGroup]="form">
  <div class="flex-1 bg-illustration-one bg-top-4"></div>
  <div class="relative flex-1 pb-[47px] ps-10 pt-16">
    <div class="flex items-center gap-[19px]">
      <a
        href="https://tublian.com"
        class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
      >
        <img src="../assets/logo.svg" alt="" aria-hidden="true" />
        <span> Tublian </span>
      </a>
      <tbc-stepper [currentStep]="currentStep"></tbc-stepper>
    </div>
    <h1 class="mt-10 text-4xl font-bold leading-[52px] text-white">
      Get Started
    </h1>
    <div class="mt-[14px] flex max-w-[405px] flex-col gap-7">
      <p class="font-medium">Start recruiting streetcred developers, Today!!</p>

      <fieldset class="flex flex-col gap-[14px]">
        <tbc-text-input
          [textControl]="firstName"
          inputId="first-name"
          label="First Name"
          placeholder="First name"
          errorMessage="First name is required"
        ></tbc-text-input>

        <tbc-text-input
          [textControl]="lastName"
          inputId="last-name"
          label="Last Name"
          placeholder="Last name"
          errorMessage="Last name is required"
        ></tbc-text-input>
        <!-- {{ !firstName?.invalid }} -->
      </fieldset>

      <button
        (click)="goToNextStep()"
        type="button"
        class="rounded-full bg-gold-300 px-4 py-2 font-medium text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
      >
        Proceed
      </button>

      <p class="text-tertiary">
        Already have an account?
        <a
          class="relative font-bold text-white after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:bg-white after:content-['']"
          href="https://www.tublian.com/login"
          >Log in</a
        >
      </p>
    </div>
    <!-- <div class="w-fit bg-white text-black">
          <pre>
          {{ onboardingForm.value | json }}
        </pre
          >
        </div> -->

    <div
      class="absolute bottom-[47px] flex w-fit items-start gap-5 text-tertiary"
    >
      <a href="https://www.tublian.com/privacy">Privacy Policy</a>
      <a href="https://www.tublian.com/terms">Terms</a>
    </div>
  </div>
</ng-container>
