<ng-container [formGroup]="form">
  <div class="hidden flex-1 bg-illustration-one bg-top-4 tablet:block"></div>
  <div
    class="relative flex-1 px-4 pb-[47px] pt-5 tablet:ps-7 tablet:pt-10 laptop:ps-[50px] desktop:ps-10 desktop:pt-16"
  >
    <div class="content-height">
      <div
        class="flex flex-col items-start gap-x-[19px] gap-y-3 desktop:flex-row desktop:items-center"
      >
        <a
          href="https://tublian.com"
          class="flex w-fit items-center gap-[3px] font-logo text-[13px] text-white"
        >
          <img src="../assets/logo.svg" alt="" aria-hidden="true" />
          <span> Tublian </span>
        </a>
        <tbc-stepper [currentStep]="currentStep"></tbc-stepper>
      </div>
      <h1
        class="mt-5 text-lg font-bold leading-[30px] text-white tablet:text-2xl desktop:mt-10 desktop:text-4xl desktop:leading-[52px]"
      >
        Get Started
      </h1>
      <div
        class="mt-2 flex max-w-[590px] flex-col gap-7 tablet:mt-[14px] tablet:max-w-[405px]"
      >
        <p class="text-sm font-medium tablet:text-base">
          Start recruiting streetcred developers, Today!!
        </p>

        <fieldset class="flex flex-col gap-[14px]">
          <tbc-text-input
            [textControl]="firstName"
            inputId="first-name"
            label="First Name"
            placeholder="First name"
            errorMessage="First name is required"
          ></tbc-text-input>

          <tbc-text-input
            [textControl]="lastName"
            inputId="last-name"
            label="Last Name"
            placeholder="Last name"
            errorMessage="Last name is required"
          ></tbc-text-input>
        </fieldset>

        <button
          (click)="goToNextStep()"
          type="button"
          class="rounded-full bg-gold-300 px-4 py-2 font-medium text-black transition-all duration-300 ease-in-out hover:bg-gold-200 active:bg-gold-100"
        >
          Proceed
        </button>

        <p class="text-tertiary">
          Already have an account?
          <a
            class="relative font-bold text-white after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:bg-white after:content-['']"
            href="https://www.tublian.com/login"
            >Log in</a
          >
        </p>
      </div>
    </div>

    <div class="mt-12 hidden w-fit items-start gap-5 text-tertiary tablet:flex">
      <a href="https://www.tublian.com/privacy">Privacy Policy</a>
      <a href="https://www.tublian.com/terms">Terms</a>
    </div>
  </div>
</ng-container>
