/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Space Grotesk", system-ui, sans-serif;
    background: #121212;
    color: #cfcfcf;
  }
}

@layer components {
  .step-btn {
    @apply text-sm font-medium;
  }

  .badge {
    @apply flex items-center justify-center rounded-[10px] px-[20px] py-[3px];
  }
}

.text-gradient {
  background: linear-gradient(
    109deg,
    #fbda61 0%,
    rgba(255, 90, 205, 0.84) 86.08%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-illustration-two {
  background-image: url("./assets/bg-safari.svg"), url("./assets/bg-bl.svg"),
    url("./assets/bg-tr.svg"), url("./assets/bg-spiral-wave.svg"),
    linear-gradient(180deg, #fdd649 0%, #bcc83d 100%);
  background-position:
    center,
    bottom 25px left 4px,
    top 18px right 34px,
    center,
    center;
  background-repeat: no-repeat;
  background-size:
    554px 347px,
    177px 70px,
    177px 70px,
    813px 804px,
    100%;
}

.bg-gradient {
  background: linear-gradient(
    109deg,
    #fbda61 0%,
    rgba(255, 90, 205, 0.84) 86.08%
  );
}

.pro-badge {
  border: 1px solid #b29bf3;
  background: linear-gradient(180deg, #855fef 0%, #5435aa 100%);
}

.business-badge {
  border: 1px solid #79bbff;
  background: linear-gradient(180deg, #0881ff 0%, #0b4f95 100%);
}

.enterprise-badge {
  border: 1px solid #22bfd6;
  background: linear-gradient(180deg, #068092 0%, #043b43 100%);
}
